---
openapi: 3.0.0
info:
  title: Shippo external API.
  version: 1.0.0
  x-logo:
    url: https://285902-883982-raikfcquaxqncofqfm.stackpathdns.com/wp-content/uploads/2021/06/Shippo-logo.svg
security:
  - APIKeyHeader: []
servers:
  - url: https://api.goshippo.com
tags:
  - name: Overview
    description: |-
      <p style="text-align: center; background-color: #F2F3F4;">
        </br>First-time users and those looking for specific integration tutorials,<br>
        <a href="https://goshippo.com/docs/intro">see our full API documentation and guides.</a></br></br>
      </p>

      <h3>API Resources</h3>
      All API URLs listed in this documentation are relative to <b>https://api.goshippo.com/</b>. For example, the 
      `/addresses/` resource is reachable at `https://api.goshippo.com/addresses/`.

      <h3>Authentication</h3>
      The API requires Shippo's token HTTP Authentication with your Shippo token (live or test). In order to authenticate 
      properly, please put `Authorization: ShippoToken <token>` in your header. You can find your token on the 
      <a href="https://goshippo.com/user/apikeys/">Shippo API settings page</a>.
    
      For more information about authentication and test mode, 
      <a href="https://goshippo.com/docs/auth">please visit our Authentication guide</a>.
    
      The API is available via Secure Socket Layer (SSL) only. All requests to the Shippo API must use TLS version 1.2 or higher.

      <h3>Request & Response Data</h3>
      Request data is passed to the API by <b>POSTing JSON objects</b> with the appropriate key/value-pairs to the respective 
      resource. The documentation for each API resource contains more details on the values accepted by a given resource.

      Response data also formatted as JSON object. You can specify how many results per page are to be returned. For instance, 
      `/rates/?results=25` will return up to 25 results.

      <h3>REST & Disposable Objects</h3>
      The Shippo API is built around <a href="http://en.wikipedia.org/wiki/Representational_State_Transfer">REST principles</a>. 
      Use POST requests to create objects, GET requests to retrieve objects, and PUT requests to update objects.

      Only the Carrier Accounts object can be updated via PUT requests. All other objects such as Addresses, Parcels, 
      Shipments, Rates, Transactions, Refunds, Customs Items, and Customs Declarations are disposable. This means that 
      once you have created an object, you cannot change it. Instead, create a new one with the desired values.
  - name: Addresses
    description: <SchemaDefinition schemaRef="#/components/schemas/Address"/>
  - name: Parcels
    description: |-
      <SchemaDefinition schemaRef="#/components/schemas/Parcel"/>
      
      # Parcel Extras
      The following values are supported for the `extra` field of the parcel object.
      <SchemaDefinition schemaRef="#/components/schemas/ParcelExtra"/>
  - name: Shipments
    description: |-
      The heart of the Shippo API, a shipment is made up of "to" and "from" addresses and the parcel to be shipped. 
      Once created, a shipment object can be used to retrieve shipping rates and purchase a shipping label.
      <SchemaDefinition schemaRef="#/components/schemas/Shipment"/>
      
      # Shipment Extras
      The following values are supported for the `extra` field of the shipment object.
      <SchemaDefinition schemaRef="#/components/schemas/ShipmentExtra"/>
  - name: Rates
    description: |-
      A rate is an available service of a shipping provider for a given shipment, typically including the price and 
      transit time.
      <SchemaDefinition schemaRef="#/components/schemas/Rate"/>
  - name: Transactions
    x-displayName: Transactions (shipping labels)
    description: |-
      A transaction is the purchase of a shipping label from a shipping provider for a specific service.
      <SchemaDefinition schemaRef="#/components/schemas/Transaction"/>
  - name: Customs Items
    description: |-
      Customs items are distinct items in your international shipment parcel.
      <SchemaDefinition schemaRef="#/components/schemas/CustomsItem"/>
  - name: Customs Declarations
    description: |-
      Customs declarations are relevant information, including one or multiple customs items, you need to provide for 
      customs clearance for your international shipments.
      <SchemaDefinition schemaRef="#/components/schemas/CustomsDeclaration"/>
  - name: Refunds
    description: |-
      Refunds are reimbursements for successfully created but unused shipping labels or other charges.
      <SchemaDefinition schemaRef="#/components/schemas/Refund"/>
  - name: Manifests
    description: |-
      Manifests are close-outs of shipping labels of a certain day. Some carriers require manifests to properly process 
      the shipments.
      <SchemaDefinition schemaRef="#/components/schemas/Manifest"/>
  - name: Carrier Accounts
    description: |-
      Carrier accounts are used as credentials to retrieve shipping rates and purchase labels from a shipping provider.
      <p style="text-align: center; background-color: #F2F3F4;">
        </br>To protect account information, we will mask the account ID and parameters in the response objects</br></br>
      </p>
      <SchemaDefinition schemaRef="#/components/schemas/CarrierAccount"/>
  - name: Tracking Status
    description: |-
      <p style="text-align: center; background-color: #F2F3F4;"></br>
      If you purchased your shipping label through Shippo, you can also get all the tracking details of your Shipment 
      from the <a href="#tag/Transactions">Transaction</a> object.
      </br></br></p>
      Tracking Status objects are used to track shipments.
      
      When using your <a href="https://goshippo.com/docs/auth">Test</a> token for tracking, you need to use Shippo's 
      predefined tokens for testing different tracking statuses. You can find more information in our 
      <a href="https://goshippo.com/docs/tracking#test-mode">Tracking tutorial</a> on how to do this, and what the 
      payloads look like.      
      <SchemaDefinition schemaRef="#/components/schemas/Track"/>
  - name: Batches
    description: |-
      The batch endpoint allows you to create and purchase many shipments in one API call. After creating the batch, 
      retrieve the batch to verify that all shipments are valid. You can add and remove shipments after the batch has 
      been created. When all shipments are valid you can purchase the batch and retrieve the shipping labels.
      <SchemaDefinition schemaRef="#/components/schemas/Batch"/>
      
      # Batch Shipment
      The batch shipment object is a wrapper around a Shipment object, which include shipment-specific information 
      for batch processing.
      
      Note: batch shipments can only be created on the Batch endpoint, either when creating a Batch object or by through 
      the `/batches/{BATCH_OBJECT_ID}/add_shipments endpoint`
      <SchemaDefinition schemaRef="#/components/schemas/BatchShipment"/>
  - name: Orders
    x-displayName: Orders (beta)
    description: |-
      <SchemaDefinition schemaRef="#/components/schemas/Order"/>
      
      # Line Item
      <p style="text-align: center; background-color: #F2F3F4;">
        </br>Line Items, and their corresponding abstract Products and Variants, might be exposed as a separate resource 
        in the future. Currently it's a nested object within the order resource.</br></br>
      </p>
      <SchemaDefinition schemaRef="#/components/schemas/LineItem"/>
  - name: Pickups
    description: |-
      Shippo’s pickups endpoint allows you to schedule pickups with USPS and DHL Express for eligible shipments that 
      you have already created.
      <SchemaDefinition schemaRef="#/components/schemas/Pickup"/>
  - name: Service Groups
    description: |-
      A service group represents a set of service levels that can be grouped together to organize Rates at Checkout 
      shipping options.
      <SchemaDefinition schemaRef="#/components/schemas/ServiceGroup"/>
  - name: Carrier Parcel Templates
    description: |-
      A carrier parcel template represents a package used for shipping that has preset dimensions defined by a carrier. 
      Some examples of a carrier parcel template include USPS Flat Rate Box and Fedex Small Pak. If the shipment is 
      using a carrier parcel template, the rates returned may be limited to the carrier that provides the box. User 
      parcel templates can be created using a carrier parcel template, where the dimensions will be copied in but the 
      weight can be configured.
      <SchemaDefinition schemaRef="#/components/schemas/CarrierParcelTemplateStruct"/>
  - name: User Parcel Templates
    description: |-
      A user parcel template represents a package used for shipping that has preset dimensions and attributes defined 
      by the user. They are useful for capturing attributes of parcel-types you frequently use for shipping, allowing 
      them to be defined once and then used for many shipments. These parcel templates can also be used for live rates.

      User parcel templates can be created using a carrier parcel template, where the dimensions will be copied from 
      the Carrier presets, but the weight can be configured by the user.
      <SchemaDefinition schemaRef="#/components/schemas/UserParcelTemplate"/>
  - name: Rates at Checkout
    description: |-
      Rates at Checkout is a feature that allows merchants to set up curated shipping options for customers in the 
      checkout flow based on data in the shopping cart. The request must include the to address and item information. 
      Optional fields are the from address and package information. If the optional fields are not included, the 
      service will use the default address and/or package configured for Rates at Checkout. The response will be a 
      list of shipping options based on the Service Group configuration
      (see <a href="#tag/Service-Groups">Service Group configuration</a> for details).
      <SchemaDefinition schemaRef="#/components/schemas/LiveRate"/>
  - name: Carriers
    description: <SchemaDefinition schemaRef="#/components/schemas/Carriers"/>
  - name: Service Levels
    description: <SchemaDefinition schemaRef="#/components/schemas/ServiceLevelEnumSet"/>
  - name: Parcel Templates
    description: |-
      A predefined package used by one or multiple carriers.  See below for all available values and the corresponding tokens. 
      When a template is given, the parcel dimensions do not have to be sent, the dimensions below will instead be used. 
      The parcel weight is not affected by the use of a template.
      <SchemaDefinition schemaRef="#/components/schemas/ParcelTemplateEnumSet"/>
x-tagGroups:
  - name: API
    tags:
      - Overview
  - name: Resources
    tags:
      - Addresses
      - Parcels
      - Shipments
      - Rates
      - Transactions
      - Customs Items
      - Customs Declarations
      - Refunds
      - Manifests
      - Carrier Accounts
      - Tracking Status
      - Batches
      - Orders
      - Pickups
      - Service Groups
      - Carrier Parcel Templates
      - User Parcel Templates
      - Rates at Checkout
  - name: Enums
    tags:
      - Carriers
      - Service Levels
      - Parcel Templates
paths:
  /addresses:
    get:
      description: List all addresses
      operationId: ListAddresses
      parameters:
        - $ref: '#/components/parameters/PageNumberQueryParam'
        - $ref: '#/components/parameters/ResultsPerPageQueryParam'
        - $ref: '#/components/parameters/ShippoApiVersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/paginatedAddressResponse'
      summary: List all addresses
      tags:
        - Addresses
    post:
      description: Creates a new address object
      operationId: CreateAddress
      parameters:
        - $ref: '#/components/parameters/ShippoApiVersionHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddressCreateRequest'
        description: Address details.
      responses:
        '200':
          $ref: '#/components/responses/singleAddressResponse'
      summary: Create a new address
      tags:
        - Addresses
  /addresses/{AddressId}:
    get:
      description: Retrieve an existing address by object id
      operationId: GetAddress
      parameters:
        - description: Object ID of the address
          in: path
          name: AddressId
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ShippoApiVersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/singleAddressResponse'
      summary: Retrieve an address
      tags:
        - Addresses
  /addresses/{AddressId}/validate:
    get:
      description: Validate an existing address by object id
      operationId: ValidateAddress
      parameters:
        - description: Object ID of the address
          in: path
          name: AddressId
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ShippoApiVersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/singleAddressResponse'
      summary: Validate an address
      tags:
        - Addresses
  /batches:
    post:
      description: Creates a new batch object.
      operationId: CreateBatch
      parameters:
        - $ref: '#/components/parameters/ShippoApiVersionHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchCreateRequest'
        description: Batch details.
      responses:
        '200':
          $ref: '#/components/responses/singleBatchResponse'
      summary: Create a batch
      tags:
        - Batches
  /batches/{BatchId}:
    get:
      description: Retrieve an existing batch object.
      operationId: GetBatch
      parameters:
        - description: Object ID of the batch
          in: path
          name: BatchId
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ShippoApiVersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/singleBatchResponse'
      summary: Retrieve a batch
      tags:
        - Batches
  /batches/{BatchId}/add_shipments:
    post:
      description: Add batch shipments to an existing batch.
      operationId: AddShipmentsToBatch
      parameters:
        - description: Object ID of the batch
          in: path
          name: BatchId
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ShippoApiVersionHeader'
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/BatchShipmentCreateRequest'
              type: array
        description: Array of shipments to add to the batch
      responses:
        '200':
          $ref: '#/components/responses/singleBatchResponse'
      summary: Add shipments to a batch
      tags:
        - Batches
  /batches/{BatchId}/purchase:
    post:
      description: |-
        Purchase an existing batch with an status of VALID. 
        Once you send a POST request to the purchase endpoint the batch status will change to PURCHASING. 
        When all the shipments are purchased, the status will change to PURCHASED and you will receive a 
        batch_purchased webhook indicating that the batch has been purchased
      operationId: PurchaseBatch
      parameters:
        - description: Object ID of the batch
          in: path
          name: BatchId
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ShippoApiVersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/singleBatchResponse'
      summary: Purchase a batch
      tags:
        - Batches
  /batches/{BatchId}/remove_shipments:
    post:
      description: Remove batch shipments from an existing batch.
      operationId: RemoveShipmentsFromBatch
      parameters:
        - description: Object ID of the batch
          in: path
          name: BatchId
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ShippoApiVersionHeader'
      requestBody:
        content:
          application/json:
            schema:
              items:
                type: string
              type: array
        description: Array of shipments object ids to remove from the batch
      responses:
        '200':
          $ref: '#/components/responses/singleBatchResponse'
      summary: Remove shipments from a batch
      tags:
        - Batches
  /carrier_accounts:
    get:
      description: List all carrier accounts.
      operationId: ListCarrierAccounts
      parameters:
        - $ref: '#/components/parameters/PageNumberQueryParam'
        - $ref: '#/components/parameters/ResultsPerPageQueryParam'
        - $ref: '#/components/parameters/ShippoApiVersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/platformCarrierOwnAccountListResponse'
      summary: List all carrier accounts
      tags:
        - Carrier Accounts
    post:
      description: Creates a new carrier account or connects an existing carrier account to the Shippo account.
      operationId: CreateCarrierAccount
      parameters:
        - $ref: '#/components/parameters/ShippoApiVersionHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectExistingOwnUPSAccountRequest'
        description: Examples.
        x-examples:
          application/json:
            fedex-existing-account-example:
              summary: Connect an existing Fedex account to Shippo
              value:
                account_id: 321123
                carrier: fedex
                metadata: FEDEX Account
                parameters:
                  first_name: Hippo
                  from_address_city: San Francisco
                  from_address_country_iso2: US
                  from_address_st: 250 Union St
                  from_address_state: CA
                  from_address_zip: 94133
                  last_name: Hippovich
                  meter: 118599345
                  phone_number: 1112223333
                  smartpost_id: 5902
                test: false
            ups-existing-account-example:
              summary: Connect an existing UPS account to Shippo
              value:
                account_id: 123456
                active: true
                carrier: ups
                metadata: UPS Account
                parameters:
                  account_number: 94567e
                  aia_country_iso2: US
                  billing_address_city: San Francisco
                  billing_address_country_iso2: US
                  billing_address_state: CA
                  billing_address_street1: 731 Market St
                  billing_address_street2: STE 200
                  billing_address_zip: 94103
                  collec_country_iso2: US
                  collec_zip: 94103
                  company: Shippo
                  currency_code: USD
                  email: hippo@goshippo.com
                  full_name: Shippo Meister
                  has_invoice: false
                  invoice_controlid: 1234
                  invoice_date: 20210529
                  invoice_number: 1112234
                  invoice_value: 11.23
                  phone: 1112223333
                  title: Manager
                  ups_agreements: true
                test: false
            ups-new-account-example:
              summary: Create a new UPS account
              value:
                account_id: 123456
                active: true
                carrier: ups
                metadata: UPS Account
                parameters:
                  billing_address_city: San Francisco
                  billing_address_country_iso2: US
                  billing_address_state: CA
                  billing_address_street1: 731 Market St
                  billing_address_street2: STE 200
                  billing_address_zip: 94103
                  company: Shippo
                  email: hippo@goshippo.com
                  full_name: Shippo Meister
                  phone: 1112223333
                  pickup_address_city: San Francisco
                  pickup_address_country_iso2: US
                  pickup_address_same_as_billing_address: false
                  pickup_address_state: CA
                  pickup_address_street1: 731 Market St
                  pickup_address_street2: STE 200
                  pickup_address_zip: 94103
                  ups_agreements: true
                test: false
      responses:
        '201':
          $ref: '#/components/responses/platformCarrierOwnAccountCreationResponse'
        '400':
          $ref: '#/components/responses/platformCarrierOwnAccountCreation400Response'
      summary: Create a new carrier account
      tags:
        - Carrier Accounts
      x-codeSamples:
        - label: CLI
          lang: cURL
          source: |-
            curl --location --request POST '/carrier_accounts/' \
            --header 'Authorization: ShippoToken {{token}}' \
            --header 'Content-Type: application/json' \
            --data-raw '{
              "account_id": "string",
              "active": true,
              "carrier": "ups",
              "metadata": "UPS Account",
              "parameters": {
                "billing_address_city": "San Francisco",
                "billing_address_country_iso2": "US",
                "billing_address_state": "CA",
                "billing_address_street1": "731 Market St",
                "billing_address_street2": "STE 200",
                "billing_address_zip": "94103",
                "company": "Shippo",
                "email": "hippo@goshippo.com",
                "full_name": "Thorn Hall",
                "phone": "1112223333",
                "pickup_address_city": "San Francisco",
                "pickup_address_country_iso2": "US",
                "pickup_address_same_as_billing_address": false,
                "pickup_address_state": "CA",
                "pickup_address_street1": "731 Market St",
                "pickup_address_street2": "STE 200",
                "pickup_address_zip": "94103",
                "ups_agreements": true
              },
              "test": false
            }'
  /carrier_accounts/{CarrierAccountId}:
    get:
      description: Retrieve an existing carrier account by object id.
      operationId: GetCarrierAccount
      parameters:
        - description: Object ID of the carrier account
          in: path
          name: CarrierAccountId
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ShippoApiVersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/platformCarrierOwnAccountCreationResponse'
      summary: Retrieve a carrier account
      tags:
        - Carrier Accounts
    put:
      description: "PUT request to update an existing carrier account object. The account_id and carrier can't be updated, because they form the unique identifier together."
      operationId: UpdateCarrierAccount
      parameters:
        - description: Object ID of the carrier account
          in: path
          name: CarrierAccountId
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ShippoApiVersionHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CarrierAccountUpdateRequest'
        description: Examples.
        x-examples:
          application/json:
            update-carrier-account:
              summary: Update a carrier account
              value:
                account_id: 123356
                active: true
                carrier: ups
                parameters: {}
      responses:
        '200':
          $ref: '#/components/responses/platformCarrierOwnAccountCreationResponse'
      summary: Update a carrier account
      tags:
        - Carrier Accounts
  /customs/declarations:
    get:
      description: List all customs declaration objects
      operationId: ListCustomsDeclarations
      parameters:
        - $ref: '#/components/parameters/PageNumberQueryParam'
        - $ref: '#/components/parameters/ResultsPerPageQueryParam'
        - $ref: '#/components/parameters/ShippoApiVersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/paginatedCustomsDeclarationsResponse'
      summary: List all customs declarations
      tags:
        - Customs Declarations
    post:
      description: Creates a new customs declaration object
      operationId: CreateCustomsDeclaration
      parameters:
        - $ref: '#/components/parameters/ShippoApiVersionHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomsDeclarationCreateRequest'
        description: CustomsDeclaration details.
      responses:
        '201':
          $ref: '#/components/responses/singleCustomsDeclarationResponse'
      summary: Create a new customs declaration
      tags:
        - Customs Declarations
  /customs/declarations/{CustomsDeclarationId}:
    get:
      description: Retrieve an existing customs declaration by object id
      operationId: GetCustomsDeclaration
      parameters:
        - description: Object ID of the customs declaration
          in: path
          name: CustomsDeclarationId
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/PageNumberQueryParam'
        - $ref: '#/components/parameters/ShippoApiVersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/singleCustomsDeclarationResponse'
      summary: Retrieve a customs declaration
      tags:
        - Customs Declarations
  /customs/items:
    get:
      description: List all customs items objects
      operationId: ListCustomsItems
      parameters:
        - $ref: '#/components/parameters/PageNumberQueryParam'
        - $ref: '#/components/parameters/ResultsPerPageQueryParam'
        - $ref: '#/components/parameters/ShippoApiVersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/paginatedCustomsItemsResponse'
      summary: List all customs items
      tags:
        - Customs Items
    post:
      description: Creates a new customs item object
      operationId: CreateCustomsItem
      parameters:
        - $ref: '#/components/parameters/ShippoApiVersionHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomsItemCreateRequest'
        description: CustomsItem details.
      responses:
        '201':
          $ref: '#/components/responses/singleCustomsItemResponse'
      summary: Create a new customs item
      tags:
        - Customs Items
  /customs/items/{CustomsItemId}:
    get:
      description: Retrieve an existing customs item by object id
      operationId: GetCustomsItem
      parameters:
        - description: Object ID of the customs item
          in: path
          name: CustomsItemId
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/PageNumberQueryParam'
        - $ref: '#/components/parameters/ShippoApiVersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/singleCustomsItemResponse'
      summary: Retrieve a customs item
      tags:
        - Customs Items
  /live-rates:
    post:
      description: |-
        Initiates a live rates request. Include either the object ID for
        an existing Address record or a fully formed Address object when entering
        an address value. You can also enter the object ID of an existing User Parcel
        Template or a fully formed User Parcel Template object as the parcel value.
      operationId: CreateLiveRate
      parameters:
        - $ref: '#/components/parameters/ShippoApiVersionHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LiveRateCreateRequest'
        description: Generate rates at checkout
      responses:
        "200":
          $ref: '#/components/responses/ratesAtCheckoutCreateResponse'
      summary: Generate a live rates request
      tags:
        - Rates at Checkout
      x-codeSamples:
        - label: CLI
          lang: cURL
          source: |-
            curl /live-rates \
              -H "Authorization: ShippoToken <API_TOKEN>" \
              -H "Content-Type: application/json"
            --data-raw '{
                "address_from": {
                   "name": "S. Hippo",
                   "company": "Shippo",
                   "street1": "731 Market St #200",
                   "street_no": "",
                   "street2": "",
                   "street3": "",
                   "city": "San Francisco",
                   "state": "CA",
                   "zip": "94103",
                   "country": "US"
                },
                "address_to": {
                   "name": "Bob Bloat",
                   "company": "SF Zoo",
                   "street1": "Sloat Blvd. & Upper Great Hwy.",
                   "street_no": "",
                   "street2": "",
                   "street3": "",
                   "city": "San Francisco",
                   "state": "CA",
                   "zip": "94132",
                   "country": "US"
                },
                "line_items": [
                   {
                      "quantity": 1,
                      "total_price": "12.00",
                      "currency": "USD",
                      "weight": "1.0",
                      "weight_unit": "lb",
                      "title": "Hippo Snax",
                      "manufacture_country": "US",
                      "sku": "HM-123"
                   }
               ],
               "parcel": {
                  "length": "10",
                  "width": "15",
                  "height": "10",
                  "distance_unit": "in",
                  "weight": "1",
                  "mass_unit": "lb"
               }
            }'
  /live-rates/settings/parcel-template:
    get:
      operationId: GetDefaultParcelTemplate
      parameters:
        - $ref: '#/components/parameters/ShippoApiVersionHeader'
      responses:
        "200":
          $ref: '#/components/responses/getDefaultParcelTemplateResponse'
      summary: Show current default parcel template
      tags:
        - Rates at Checkout
      x-codeSamples:
        - label: CLI
          lang: cURL
          source: |-
            curl /live-rates/settings/parcel-template \
              -H "Authorization: ShippoToken <API_TOKEN>" \
              -H "Content-Type: application/json"
    put:
      operationId: UpdateDefaultParcelTemplate
      parameters:
        - $ref: '#/components/parameters/ShippoApiVersionHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DefaultParcelTemplateUpdateRequest'
      responses:
        "200":
          $ref: '#/components/responses/getDefaultParcelTemplateResponse'
      summary: Update default parcel template
      tags:
        - Rates at Checkout
      x-codeSamples:
        - label: CLI
          lang: cURL
          source: |-
            curl /live-rates/settings/parcel-template  \
              -H "Authorization: ShippoToken <API_TOKEN>" \
              -H "Content-Type: application/json"
            --data-raw '{
                "object_id": "adcfdddf8ec64b84ad22772bce3ea37a"
            }'
    delete:
      operationId: DeleteDefaultParcelTemplate
      parameters:
        - $ref: '#/components/parameters/ShippoApiVersionHeader'
      responses:
        "204":
          description: The parcel template was successfully deleted.
      summary: Clear current default parcel template
      tags:
        - Rates at Checkout
      x-codeSamples:
        - label: CLI
          lang: cURL
          source: |-
            curl /live-rates/settings/parcel-template  \
              -H "Authorization: ShippoToken <API_TOKEN>" \
              -H "Content-Type: application/json"
  /manifests:
    get:
      description: List all manifest objects.
      operationId: ListManifests
      parameters:
        - $ref: '#/components/parameters/PageNumberQueryParam'
        - $ref: '#/components/parameters/ResultsPerPageQueryParam'
        - $ref: '#/components/parameters/ShippoApiVersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/paginatedManifestResponse'
      summary: List all manifests
      tags:
        - Manifests
    post:
      description: Creates a new manifest object.
      operationId: CreateManifest
      parameters:
        - $ref: '#/components/parameters/ShippoApiVersionHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManifestCreateRequest'
        description: Manifest details and contact info.
      responses:
        '201':
          $ref: '#/components/responses/singleManifestResponse'
      summary: Create a new manifest
      tags:
        - Manifests
  /manifests/{ManifestId}:
    get:
      description: Retrieve an existing manifest by object id.
      operationId: GetManifest
      parameters:
        - description: Object ID of the manifest to update
          in: path
          name: ManifestId
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ShippoApiVersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/singleManifestResponse'
      summary: Retrieve a manifest
      tags:
        - Manifests
  /orders:
    get:
      description: List all order objects.
      operationId: ListOrders
      parameters:
        - $ref: '#/components/parameters/PageNumberQueryParam'
        - $ref: '#/components/parameters/ResultsPerPageQueryParam'
        - $ref: '#/components/parameters/ShippoApiVersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/paginatedOrderResponse'
      summary: List all orders
      tags:
        - Orders
    post:
      description: Creates a new order object.
      operationId: CreateOrder
      parameters:
        - $ref: '#/components/parameters/ShippoApiVersionHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderCreateRequest'
        description: Order details.
      responses:
        '201':
          $ref: '#/components/responses/singleOrderResponse'
      summary: Create a new order
      tags:
        - Orders
  /orders/{OrderId}:
    get:
      description: Retrieve an existing order by object id.
      operationId: GetOrder
      parameters:
        - description: Object ID of the order
          in: path
          name: OrderId
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ShippoApiVersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/singleOrderResponse'
      summary: Retrieve an order
      tags:
        - Orders
  /parcel-templates:
    get:
      description: List all carrier parcel template objects.
      operationId: ListCarrierParcelTemplates
      parameters:
        - name: include
          description: filter by user or enabled
          in: query
          schema:
            type: string
            enum:
              - all
              - user
              - enabled
        - name: carrier
          description: filter by specific carrier
          example: 'fedex'
          in: query
          schema:
            type: string
        - $ref: '#/components/parameters/ShippoApiVersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/allCarrierParcelTemplateResponseWrapper'
      summary: List all carrier parcel templates
      tags:
        - Carrier Parcel Templates
      x-codeSamples:
        - label: CLI
          lang: cURL
          source: |-
            curl /parcel-templates  \
              -H "Authorization: ShippoToken <API_TOKEN>" \
              -H "Content-Type: application/json"
  /parcel-templates/{CarrierParcelTemplateToken}:
    get:
      description: "Fetches the parcel template information for a specific carrier parcel template, identified by the token."
      operationId: GetCarrierParcelTemplate
      parameters:
        - description: The unique string representation of the carrier parcel template
          in: path
          name: CarrierParcelTemplateToken
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ShippoApiVersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/singleCarrierParcelTemplateResponseWrapper'
      summary: Retrieve a carrier parcel templates
      tags:
        - Carrier Parcel Templates
      x-codeSamples:
        - label: CLI
          lang: cURL
          source: |-
            curl /parcel-templates/{CarrierParcelTemplateToken}  \
              -H "Authorization: ShippoToken <API_TOKEN>" \
              -H "Content-Type: application/json"
  /parcels:
    get:
      description: List all parcel objects
      operationId: ListParcels
      parameters:
        - $ref: '#/components/parameters/PageNumberQueryParam'
        - $ref: '#/components/parameters/ResultsPerPageQueryParam'
        - $ref: '#/components/parameters/ShippoApiVersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/paginatedParcelResponse'
      summary: List all parcels
      tags:
        - Parcels
    post:
      description: Creates a new parcel object
      operationId: CreateParcel
      parameters:
        - $ref: '#/components/parameters/ShippoApiVersionHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ParcelRequest'
        description: Parcel details.
      responses:
        '201':
          $ref: '#/components/responses/singleParcelResponse'
      summary: Create a new parcel
      tags:
        - Parcels
  /parcels/{ParcelId}:
    get:
      description: Retrieve an existing parcel by object id
      operationId: GetParcel
      parameters:
        - description: Object ID of the parcel
          in: path
          name: ParcelId
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ShippoApiVersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/singleParcelResponse'
      summary: Retrieve a parcel
      tags:
        - Parcels
  /pickups:
    post:
      description: Creates a pickup object.
      operationId: CreatePickup
      parameters:
        - $ref: '#/components/parameters/ShippoApiVersionHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PickupCreateRequest'
        description: Shippo’s pickups endpoint allows you to schedule pickups with USPS and DHL Express for eligible shipments that you have already created.
      responses:
        '201':
          $ref: '#/components/responses/singlePickupResponse'
      summary: Create a pickup
      tags:
        - Pickups
  /rates/{RateId}:
    get:
      description: Retrieve an existing rate by object id
      operationId: GetRate
      parameters:
        - description: Object ID of the rate
          in: path
          name: RateId
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ShippoApiVersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/singleRateResponse'
      summary: Retrieve a rate
      tags:
        - Rates
  /refunds:
    post:
      description: Creates a new refund object.
      operationId: CreateRefund
      parameters:
        - $ref: '#/components/parameters/ShippoApiVersionHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundRequestBody'
        description: Refund details
      responses:
        '201':
          $ref: '#/components/responses/singleRefundResponse'
      summary: Create a refund
      tags:
        - Refunds
  /refunds/{RefundId}:
    get:
      description: Retrieve an existing refund by object id.
      operationId: GetRefund
      parameters:
        - description: Object ID of the refund to update
          in: path
          name: RefundId
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ShippoApiVersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/singleRefundResponse'
      summary: Retrieve a refund
      tags:
        - Refunds
  /service-groups:
    get:
      operationId: ListServiceGroups
      parameters:
        - $ref: '#/components/parameters/ShippoApiVersionHeader'
      responses:
        "200":
          $ref: '#/components/responses/serviceGroupListResponse'
      summary: List all service groups
      tags:
        - Service Groups
      x-codeSamples:
        - label: CLI
          lang: cURL
          source: |-
            curl /service-groups  \
              -H "Authorization: ShippoToken <API_TOKEN>" \
              -H "Content-Type: application/json"
    post:
      operationId: CreateServiceGroup
      parameters:
        - $ref: '#/components/parameters/ShippoApiVersionHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceGroupCreateRequest'
      responses:
        "201":
          $ref: '#/components/responses/serviceGroupResponse'
      summary: Create a new service group
      tags:
        - Service Groups
      x-codeSamples:
        - label: CLI
          lang: cURL
          source: |-
            curl /service-groups  \
              -H "Authorization: ShippoToken <API_TOKEN>" \
              -H "Content-Type: application/json"
    put:
      operationId: UpdateServiceGroup
      parameters:
        - $ref: '#/components/parameters/ShippoApiVersionHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceGroupUpdateRequest'
      responses:
        "200":
          $ref: '#/components/responses/serviceGroupResponse'
      summary: Update an existing service group
      tags:
        - Service Groups
      x-codeSamples:
        - label: CLI
          lang: cURL
          source: |-
            curl /service-groups  \
              -H "Authorization: ShippoToken <API_TOKEN>" \
              -H "Content-Type: application/json"
  /service-groups/{ServiceGroupId}:
    delete:
      operationId: DeleteServiceGroup
      parameters:
        - description: Object ID of the service group
          in: path
          name: ServiceGroupId
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ShippoApiVersionHeader'
      responses:
        "204":
          description: The service group was successfully deleted.
      summary: Delete a service group
      tags:
        - Service Groups
      x-codeSamples:
        - label: CLI
          lang: cURL
          source: |-
            curl /service-groups/{ServiceGroupId}  \
              -H "Authorization: ShippoToken <API_TOKEN>" \
              -H "Content-Type: application/json"
  /shipments:
    get:
      description: List all shipment objects
      operationId: ListShipments
      parameters:
        - $ref: '#/components/parameters/PageNumberQueryParam'
        - $ref: '#/components/parameters/ResultsPerPageQueryParam'
        - $ref: '#/components/parameters/ShippoApiVersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/paginatedShipmentResponse'
      summary: List all shipments
      tags:
        - Shipments
    post:
      description: Creates a new shipment object
      operationId: CreateShipment
      parameters:
        - $ref: '#/components/parameters/ShippoApiVersionHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShipmentCreateRequest'
        description: Shipment details and contact info.
      responses:
        '201':
          $ref: '#/components/responses/singleShipmentResponse'
      summary: Create a new shipment
      tags:
        - Shipments
  /shipments/{ShipmentId}:
    get:
      description: Retrieve an existing shipment by object id
      operationId: GetShipment
      parameters:
        - description: Object ID of the shipment to update
          in: path
          name: ShipmentId
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ShippoApiVersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/singleShipmentResponse'
      summary: Retrieve a shipment
      tags:
        - Shipments
  /shipments/{ShipmentId}/rates:
    get:
      description: Gets a paginated list of rates associated with a shipment
      operationId: ListShipmentRates
      parameters:
        - description: Object ID of the shipment to update
          in: path
          name: ShipmentId
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/PageNumberQueryParam'
        - $ref: '#/components/parameters/ResultsPerPageQueryParam'
        - $ref: '#/components/parameters/ShippoApiVersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/paginatedRateResponse'
      summary: Retrieve shipment rates
      tags:
        - Rates
  /shipments/{ShipmentId}/rates/{CurrencyCode}:
    get:
      description: |-
        Each valid shipment object will automatically trigger the calculation of all available rates. 
        Depending on your shipment data, there may be none, one or multiple rates.

        By default, the calculated Rates will return the price in two currencies under the amount and amount_local keys, 
        respectively. The amount key will contain the price of a rate expressed in the currency that is used in the country 
        from which parcel originates, and the amount_local key will contain the price expressed in the currency that is used 
        in the country the parcel is shipped to. You can request rates with prices expressed in a different currency by adding 
        the desired currency code in the end of the resource URL. The full list of supported currencies along with their codes 
        can be viewed on [open exchange rates](http://openexchangerates.org/api/currencies.json).

        Note: re-requesting the rates with a different currency code will re-queue the shipment (i.e. set the Shipment's 
        status to QUEUED) and the converted currency rates will only be available when the Shipment's status is set to SUCCESS.
      operationId: ListShipmentRatesByCurrencyCode
      parameters:
        - description: Object ID of the shipment to update
          in: path
          name: ShipmentId
          required: true
          schema:
            type: string
        - description: ISO currency code for the rates
          in: path
          name: CurrencyCode
          required: true
          schema:
            type: string
            default: USD
        - $ref: '#/components/parameters/PageNumberQueryParam'
        - $ref: '#/components/parameters/ResultsPerPageQueryParam'
        - $ref: '#/components/parameters/ShippoApiVersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/paginatedRateResponse'
      summary: Retrieve shipment rates in currency
      tags:
        - Rates
  /tracks:
    post:
      description: |-
        You can register your webhook(s) for a Shipment (and request the current status at the same time) by 
        POSTing to the tracking endpoint. This way Shippo will send HTTP notifications to your track_updated webhook(s) 
        whenever the status changes.
      operationId: CreateTrack
      parameters:
        - $ref: '#/components/parameters/ShippoApiVersionHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TracksRequest'
      responses:
        '201':
          $ref: '#/components/responses/idOfCreateTrackPostEndpoint'
      summary: Register a tracking webhook
      tags:
        - Tracking Status
  /tracks/{Carrier}/{TrackingNumber}:
    get:
      description: Request the tracking status of a shipment by sending a GET request.
      operationId: GetTrack
      parameters:
        - description: Tracking numer
          in: path
          name: TrackingNumber
          required: true
          schema:
            type: string
        - description: Name of the carrier
          in: path
          name: Carrier
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ShippoApiVersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/idOfGetTrackEndpoint'
      summary: Get a tracking status
      tags:
        - Tracking Status
  /transactions:
    get:
      description: List all transaction objects
      operationId: ListTransactions
      parameters:
        - $ref: '#/components/parameters/PageNumberQueryParam'
        - $ref: '#/components/parameters/ResultsPerPageQueryParam'
        - $ref: '#/components/parameters/ShippoApiVersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/listTransactionResponse'
      summary: List all shipping labels
      tags:
        - Transactions
    post:
      description: Creates a new transaction object and purchases the shipping label for the provided rate.
      operationId: CreateTransaction
      parameters:
        - $ref: '#/components/parameters/ShippoApiVersionHeader'
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/TransactionCreateRequest'
                - $ref: '#/components/schemas/InstantTransactionRequestBody'
        description: Examples.
        x-examples:
          application/json:
            instant-transaction-example:
              summary: Create an instant transaction
              value:
                carrier_account: b741b99f95e841639b54272834bc478c
                label_file_type: PDF
                metadata: Order ID
                servicelevel_token: usps_priority
                shipment:
                  address_from:
                    city: San Francisco
                    company: Shippo
                    country: US
                    email: shippotle@goshippo.com
                    is_residential: true
                    metadata: Customer ID 123456
                    name: Shwan Ippotle
                    phone: +1 555 341 9393
                    state: CA
                    street1: 215 Clayton St.
                    street2: 215 Clayton St.
                    validate: true
                    zip: 94117
                  address_return:
                    city: San Francisco
                    company: Shippo
                    country: US
                    email: shippotle@goshippo.com
                    is_residential: true
                    metadata: Customer ID 123456
                    name: Shwan Ippotle
                    phone: +1 555 341 9393
                    state: CA
                    street1: 215 Clayton St.
                    street2: 215 Clayton St.
                    validate: true
                    zip: 94117
                  address_to:
                    city: San Francisco
                    company: Shippo
                    country: US
                    email: shippotle@goshippo.com
                    is_residential: true
                    metadata: Customer ID 123456
                    name: Shwan Ippotle
                    phone: +1 555 341 9393
                    state: CA
                    street1: 215 Clayton St.
                    street2: 215 Clayton St.
                    validate: true
                    zip: 94117
                  parcels:
                    - distance_unit: in
                      height: 1
                      length: 1
                      mass_unit: lb
                      template: USPS_LargeFlatRateBox
                      weight: 1
                      width: 1
            rate-transaction-example:
              summary: Create a rate transaction
              value:
                async: false
                label_file_type: PDF
                metadata: Order ID
                rate: ec9f0d3adc9441449c85d315f0997fd5
      responses:
        '201':
          $ref: '#/components/responses/singleTransactionResponse'
      summary: Create a shipping label (rate)
      tags:
        - Transactions
      x-codeSamples:
        - label: CLI
          lang: cURL
          source: |-
            curl --location --request POST '/transactions' \
            --header 'Authorization: ShippoToken {{token}}' \
            --header 'Content-Type: application/json' \
            --header 'SHIPPO-API-VERSION: 2018-02-08' \
            --data-raw '{
              "rate": "a5c9d1bec93149f5bedc3a9374b50970",
              "async": false,
              "label_file_type": "PDF"
            }'
  /transactions/{TransactionId}:
    get:
      description: Retrieve an existing transaction by object id
      operationId: GetTransaction
      parameters:
        - description: Object ID of the transaction to update
          in: path
          name: TransactionId
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ShippoApiVersionHeader'
      responses:
        '200':
          $ref: '#/components/responses/singleTransactionResponse'
      summary: Retrieve a shipping label
      tags:
        - Transactions
  /user-parcel-templates:
    get:
      description: List all user parcel template objects.
      operationId: ListUserParcelTemplates
      parameters:
        - $ref: '#/components/parameters/ShippoApiVersionHeader'
      responses:
        "200":
          $ref: '#/components/responses/allUserParcelTemplateResponseWrapper'
      summary: List all user parcel templates
      tags:
        - User Parcel Templates
      x-codeSamples:
        - label: CLI
          lang: cURL
          source: |-
            curl /user-parcel-templates  \
              -H "Authorization: ShippoToken <API_TOKEN>" \
              -H "Content-Type: application/json"
    post:
      description: |-
        Creates a new user parcel template. You can choose to create a
        parcel template using a preset carrier template as a starting point, or
        you can create an entirely custom one. To use a preset carrier template,
        pass in a unique template token from [this list](https://goshippo.com/docs/reference#parcel-templates),
        plus the weight fields (**weight** and **weight_unit**). Otherwise, omit
        the template field and pass the other fields, for the weight, length, height,
        and depth, as well as their units."
      operationId: CreateUserParcelTemplate
      parameters:
        - $ref: '#/components/parameters/ShippoApiVersionHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserParcelTemplateCreateRequest'
      responses:
        "200":
          $ref: '#/components/responses/singleUserParcelTemplateResponse'
      summary: Create a new user parcel template
      tags:
        - User Parcel Templates
      x-codeSamples:
        - label: CLI
          lang: cURL
          source: |-
            curl -X POST /user-parcel-templates  \
              -H "Authorization: ShippoToken <API_TOKEN>" \
              -H "Content-Type: application/json"
              -d '{
                  "name": "My Custom Template",
                  "length": "10",
                  "width": "8",
                  "height": "6",
                  "distance_unit": "in",
                  "weight": "12",
                  "weight_unit": "lb"
              }'
  /user-parcel-templates/{UserParcelTemplateObjectId}:
    delete:
      description: Delete a user parcel template by object ID.
      operationId: DeleteUserParcelTemplate
      parameters:
        - description: Object ID of the user parcel template
          in: path
          name: UserParcelTemplateObjectId
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ShippoApiVersionHeader'
      responses:
        "204":
          description: The user parcel template was successfully deleted.
      summary: Delete a user parcel template
      tags:
        - User Parcel Templates
      x-codeSamples:
        - label: CLI
          lang: cURL
          source: |-
            curl -X DELETE /user-parcel-templates/{UserParcelTemplateObjectId}  \
              -H "Authorization: ShippoToken <API_TOKEN>"
    get:
      description: |-
        Fetches the parcel template information for a specific user parcel
        template, identified by the object ID.
      operationId: GetUserParcelTemplate
      parameters:
        - description: Object ID of the user parcel template
          in: path
          name: UserParcelTemplateObjectId
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ShippoApiVersionHeader'
      responses:
        "200":
          $ref: '#/components/responses/singleUserParcelTemplateResponse'
      summary: Retrieves a user parcel template
      tags:
        - User Parcel Templates
      x-codeSamples:
        - label: CLI
          lang: cURL
          source: |-
            curl /user-parcel-templates/{UserParcelTemplateToken}  \
              -H "Authorization: ShippoToken <API_TOKEN>" \
              -H "Content-Type: application/json"
components:
  parameters:
    PageNumberQueryParam:
      description: The page number you want to select
      in: query
      name: page
      schema:
        type: integer
        format: int64
        default: 1
    ResultsPerPageQueryParam:
      description: The number of results to return per page (max 100)
      in: query
      name: results
      schema:
        type: integer
        format: int64
        maximum: 100
        default: 25
    ShippoApiVersionHeader:
      description: String used to pick a non-default api version to use
      in: header
      name: SHIPPO-API-VERSION
      schema:
        type: string
  responses:
    allCarrierParcelTemplateResponseWrapper:
      description: ""
      content:
        application/json:
          schema:
            items:
              $ref: '#/components/schemas/CarrierParcelTemplateStruct'
            type: array
    allUserParcelTemplateResponseWrapper:
      description: ""
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UserParcelTemplateList'
    idOfCreateTrackPostEndpoint:
      description: ""
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Track'
    idOfGetTrackEndpoint:
      description: ""
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Track'
    serviceGroupResponse:
      description: ""
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ServiceGroup"
    serviceGroupListResponse:
      description: ""
      content:
        application/json:
          schema:
            items:
              $ref: "#/components/schemas/ServiceGroup"
            type: array
    getDefaultParcelTemplateResponse:
      description: ""
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/DefaultParcelTemplate"
    listTransactionResponse:
      description: ""
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TransactionListWrapper'
    paginatedAddressResponse:
      description: ""
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AddressListWrapper'
    paginatedCustomsDeclarationsResponse:
      description: ""
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CustomsDeclarationListWrapper'
    paginatedCustomsItemsResponse:
      description: ""
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CustomsItemListWrapper'
    paginatedManifestResponse:
      description: ""
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ManifestListWrapper'
    paginatedOrderResponse:
      description: ""
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OrderListWrapper'
    paginatedParcelResponse:
      description: ""
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ParcelListWrapper'
    paginatedRateResponse:
      description: ""
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RateListWrapper'
    paginatedShipmentResponse:
      description: ""
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ShipmentListWrapper'
    platformCarrierOwnAccountCreation400Response:
      description: ""
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PlatformCarrierOwnAccountCreation400Response'
    platformCarrierOwnAccountCreationResponse:
      description: ""
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CarrierAccount'
    platformCarrierOwnAccountListResponse:
      description: ""
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CarrierAccountListWrapper'
    ratesAtCheckoutCreateResponse:
      description: ""
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/LiveRateList'
    singleAddressResponse:
      description: ""
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Address'
    singleBatchResponse:
      description: ""
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Batch'
    singleCarrierParcelTemplateResponseWrapper:
      description: ""
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CarrierParcelTemplateStruct'
    singleCustomsDeclarationResponse:
      description: ""
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CustomsDeclaration'
    singleCustomsItemResponse:
      description: ""
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CustomsItem'
    singleManifestResponse:
      description: ""
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Manifest'
    singleOrderResponse:
      description: ""
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Order'
    singleParcelResponse:
      description: ""
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Parcel'
    singlePickupResponse:
      description: ""
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Pickup'
    singleRateResponse:
      description: ""
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Rate'
    singleRefundResponse:
      description: ""
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Refund'
    singleShipmentResponse:
      description: ""
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Shipment'
    singleTransactionResponse:
      description: ""
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Transaction'
    singleUserParcelTemplateResponse:
      description: ""
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UserParcelTemplate'
  requestBodies: {}
  securitySchemes:
    APIKeyHeader:
      in: header
      name: Authorization
      type: apiKey
  schemas:
    PaginatedList:
      properties:
        next:
          example: 'baseurl?page=3&results=10'
          type: string
        previous:
          example: 'baseurl?page=1&results=10'
          type: string
      type: object
    AddressBase:
      description: Address represents the address as retrieved from the database
      properties:
        city:
          description: |-
            **required for purchase**<br>
            Name of a city. When creating a Quote Address, sending a city is optional but will yield more accurate Rates. 
            Please bear in mind that city names may be ambiguous (there are 34 Springfields in the US). Pass in a state 
            or a ZIP code (see below), if known, it will yield more accurate results.
          example: 'San Francisco'
          type: string
        company:
          example: 'Shippo'
          type: string
          description: Company Name
        country:
          example: 'US'
          type: string
          description: |-
            Example: 'US' or 'DE'. All accepted values can be found on the 
            <a href="http://www.iso.org/" target="blank">Official ISO Website</a>.
            Sending a country is always required.
        email:
          example: 'shippotle@goshippo.com'
          type: string
          description: E-mail address of the contact person, RFC3696/5321-compliant.
        is_residential:
          example: true
          type: boolean
          description: Indicates whether the address provided is a residential address or not.
        metadata:
          example: 'Customer ID 123456'
          type: string
          description: |-
            A string of up to 100 characters that can be filled with any additional information you want 
            to attach to the object.
        name:
          description: |-
            **required for purchase**<br>
            First and Last Name of the addressee
          example: 'Shwan Ippotle'
          type: string
        phone:
          example: '+1 555 341 9393'
          type: string
          description: |-
            Addresses containing a phone number allow carriers to call the recipient when delivering the Parcel. This 
            increases the probability of delivery and helps to avoid accessorial charges after a Parcel has been shipped.
        state:
          description: |-
            **required for purchase for some countries**<br>
            State/Province values are required for shipments from/to the US, AU, and CA. UPS requires province for some 
            countries (i.e Ireland). To receive more accurate quotes, passing this field is recommended. Most carriers 
            only accept two or three character state abbreviations.
          example: 'CA'
          type: string
        street1:
          description: |-
            **required for purchase**<br>
            First street line, 35 character limit. Usually street number and street name (except for DHL Germany, see street_no).
          example: '215 Clayton St.'
          type: string
        street2:
          type: string
          description: "Second street line, 35 character limit."
        street3:
          type: string
          example: ''
          description: |-
            Third street line, 35 character limit. 
            Only accepted for USPS international shipments, UPS domestic and UPS international shipments.
        street_no:
          type: string
          example: ''
          description: |-
            Street number of the addressed building. 
            This field can be included in street1 for all carriers except for DHL Germany.
        zip:
          description: |-
            **required for purchase**<br>
            Postal code of an Address. When creating a Quote Addresses, sending a ZIP is optional but will yield more 
            accurate Rates.
          example: '94117'
          type: string
      type: object
    Address:
      allOf:
        - $ref: '#/components/schemas/AddressBase'
        - properties:
            is_complete:
              example: true
              type: boolean
              description: |-
                Complete addresses contain all required values.<br><br>Incomplete addresses have failed one or multiple 
                validations.<br>Incomplete Addresses are eligible for requesting rates but lack at least one required 
                value for purchasing labels.
            object_created:
              example: '2014-07-09T02:19:13.174Z'
              format: date-time
              type: string
              description: Date and time of Address creation.
            object_id:
              example: 'd799c2679e644279b59fe661ac8fa488'
              type: string
              description: |-
                Unique identifier of the given Address object. 
                This ID is required to create a Shipment object.
            object_owner:
              example: 'shippotle@goshippo.com'
              type: string
              description: Username of the user who created the Address object.
            object_updated:
              example: '2014-07-09T02:19:13.174Z'
              format: date-time
              type: string
              description: |-
                Date and time of last Address update. Since you cannot update Addresses after they were created, this time 
                stamp reflects the time when the Address was changed by Shippo's systems for the last time, e.g., during the 
                approximation of one or more values.
            validation_results:
              $ref: '#/components/schemas/AddressValidationResults'
              description: |-
                object that contains information regarding if an address had been validated or not. Also contains any messages 
                generated during validation. Children keys are <code>is_valid</code>(boolean) and <code>messages</code>(array).
            test:
              type: boolean
              example: false
              description: Indicates whether the object has been created in test mode.
          required:
            - country
    AddressCreateRequest:
      allOf:
        - $ref: '#/components/schemas/AddressBase'
        - properties:
            validate:
              example: true
              type: boolean
          required:
            - country
    AddressCompleteCreateRequest:
      allOf:
        - $ref: '#/components/schemas/AddressBase'
        - properties:
            validate:
              example: true
              type: boolean
          required:
            - name
            - street1
            - city
            - state
            - zip
            - country
    AddressListWrapper:
      allOf:
        - $ref: '#/components/schemas/PaginatedList'
        - description: Paginated Address Response.
          properties:
            results:
              items:
                $ref: '#/components/schemas/Address'
              type: array
    AddressValidationResults:
      properties:
        is_valid:
          example: false
          type: boolean
        messages:
          items:
            $ref: '#/components/schemas/AddressValidationResultsMessage'
          type: array
      type: object
    AddressValidationResultsMessage:
      properties:
        code:
          enum:
            - verification_error
            - unknown_street
            - component_mismatch_error
            - multiple_match
            - sub_premise_number_invalid
            - sub_premise_number_missing
            - premise_number_invalid
            - premise_number_missing
            - box_number_invalid
            - box_number_missing
            - pmb_number_missing
            - postal_code_change
            - administrative_area_change
            - locality_change
            - dependent_locality_change
            - street_name_change
            - street_type_change
            - street_directional_change
            - sub_premise_type_change
            - sub_premise_number_change
            - double_dependent_locality_change
            - subadministrative_area_change
            - subnational_area_change
            - po_box_change
            - premise_type_change
            - house_number_change
            - organization_change
            - extraneous_information
            - usps_door_inaccessible
            - administrative_area_partial
            - city_partial
            - street_partial
            - building_partial
            - subpremise_partial
            - administrative_area_full
            - city_full
            - thoroughfare_full
            - premises_full
            - subpremise_full
            - geocoded_street
            - geocoded_neighborhood
            - geocoded_community
            - geocoded_state
            - geocoded_rooftop
            - geocoded_interpolated_rooftop
            - invalid_postal_code
            - postal_code_not_found
            - empty_request
            - service_error
            - street_detail_missing
            - Invalid City/State/Zip
            - Default Match
            - Unknown Street
            - Address Not Found
            - Non-Deliverable ZIP4
            - Multiple Responses
            - Invalid Dual Address
            - Invalid State
            - Invalid City
            - Ambiguous Address
          example: 'Unknown Street'
          type: string
        source:
          enum:
            - Shippo Address Validator
            - UPS
          example: 'Shippo Address Validator'
          type: string
        text:
          example: 'City, State and ZIP Code are valid, but street address is not a match.'
          type: string
        type:
          example: 'address_warning'
          type: string
      type: object
    Alcohol:
      description: Indicates that a shipment contains Alcohol (Fedex and UPS only).
      properties:
        contains_alcohol:
          type: boolean
          description: Mandatory for Fedex and UPS. Specifies that the package contains Alcohol.
        recipient_type:
          enum:
            - licensee
            - consumer
          description: Mandatory for Fedex only. License type of the recipient of the Alcohol Package.
      type: object
    BatchBase:
      properties:
        default_carrier_account:
          description: |-
            ID of the Carrier Account object to use as the default for all shipments in this Batch. 
            The carrier account can be changed on a per-shipment basis by changing the carrier_account in the 
            corresponding BatchShipment object.
          example: '078870331023437cb917f5187429b093'
          type: string
        default_servicelevel_token:
          description: |-
            Token of the service level to use as the default for all shipments in this Batch. 
            The servicelevel can be changed on a per-shipment basis by changing the servicelevel_token in the 
            corresponding BatchShipment object. <a href="#tag/Service-Levels">Servicelevel tokens can be found here.</a>
          example: 'usps_priority'
          type: string
        label_filetype:
          $ref: '#/components/schemas/LabelFileType'
        metadata:
          description: A string of up to 100 characters that can be filled with any additional information you want to attach to the object.
          example: 'BATCH #1'
          maxLength: 100
          type: string
      required:
        - default_carrier_account
        - default_servicelevel_token
      type: object
    Batch:
      allOf:
        - $ref: '#/components/schemas/BatchBase'
        - properties:
            batch_shipments:
              $ref: '#/components/schemas/BatchShipmentListWrapper'
            label_url:
              description: An array of URLs each pointing to a merged file of 100 labels each
              items:
                type: string
              type: array
            object_created:
              description: Date and time of Batch creation
              example: '2016-01-04T00:15:44.394Z'
              type: string
            object_id:
              description: Unique identifier of the given Batch object
              example: '5ef63c54f5bf45d3b1f8fb37dcb1c5f4'
              type: string
            object_owner:
              description: Username of the user who created the Address object.
              example: 'shippo@goshippo.com'
              type: string
            object_results:
              description: An object containing the following counts:<br>creation_succeeded<br>creation_failed<br>purchase_succeeded<br>purchase_failed
              properties:
                creation_failed:
                  example: 3
                  format: int64
                  type: integer
                creation_succeeded:
                  example: 5
                  format: int64
                  type: integer
                purchase_failed:
                  example: 0
                  format: int64
                  type: integer
                purchase_succeeded:
                  example: 0
                  format: int64
                  type: integer
              required:
                - purchase_failed
                - purchase_succeeded
                - creation_failed
                - creation_succeeded
              type: object
            object_updated:
              description: Date and time of last update to the Batch
              example: '2016-01-04T00:48:13.841Z'
              type: string
            status:
              description: |-
                Batches that are VALIDATING are being created and validated<br><br>
                VALID batches can be purchased<br><br>
                INVALID batches cannot be purchased, INVALID BatchShipments must be removed<br><br>
                Batches that are in the PURCHASING state are being purchased<br><br>
                PURCHASED batches are finished purchasing.
              enum:
                - VALIDATING
                - VALID
                - INVALID
                - PURCHASING
                - PURCHASED
              example: 'VALID'
              type: string
            test:
              example: false
              type: boolean
          required:
            - object_id
            - object_owner
            - status
            - object_created
            - object_updated
            - batch_shipments
            - object_results
            - label_url
    BatchCreateRequest:
      allOf:
        - $ref: '#/components/schemas/BatchBase'
        - properties:
            batch_shipments:
              description: Array of BatchShipment objects. The response keeps the same order as in the request array.
              items:
                $ref: '#/components/schemas/BatchShipmentCreateRequest'
              type: array
          required:
            - batch_shipments
    BatchShipmentBase:
      properties:
        carrier_account:
          description: Object ID of the carrier account to be used for this shipment (will override batch default)
          example: 'a4391cd4ab974f478f55dc08b5c8e3b3'
          type: string
        metadata:
          description: |-
            A string of up to 100 characters that can be filled with any additional information you want 
            to attach to the object.
          example: 'SHIPMENT #1'
          maxLength: 100
          type: string
        servicelevel_token:
          description: |-
            A token that sets the shipping method for the batch, overriding the batch default. 
            Servicelevel tokens can be found <a href="#tag/Service-Levels">in this list</a> 
            or <a href="#operation/ListCarrierAccounts">at this endpoint</a>.
          example: 'fedex_ground'
          type: string
        shipment:
          description: |-
            Object ID of a previously created shipment, to be added to the batch OR required fields of a 
            new Shipment Object, to be created.
          example: '4fbbcc0591d24e1abcdc5c0d35622f78'
          type: string
      required:
        - shipment
      type: object
    BatchShipment:
      allOf:
        - $ref: '#/components/schemas/BatchShipmentBase'
        - properties:
            messages:
              description: List of Shipment and Transaction error messages.
              items:
                $ref: '#/components/schemas/ErrorMessage'
              type: array
            object_id:
              description: Object ID of this batch shipment. Can be used in the remove_shipments endpoint.
              example: 'e11c95a6788d4ddcaa22f03175838740'
              type: string
            status:
              description: |-
                INVALID batch shipments cannot be purchased and will have to be removed, fixed, and added to the batch again.<br><br> 
                VALID batch shipments can be purchased. <br><br>
                batch shipments with the status TRANSACTION_FAILED were not able to be purchased and the error will be displayed on the message field<br><br> 
                INCOMPLETE batch shipments have an issue with the Address and will need to be removed, fixed, and added to the batch again.
              enum:
                - INVALID
                - VALID
                - INCOMPLETE
                - TRANSACTION_FAILED
              example: 'INVALID'
              type: string
            transaction:
              description: Object ID of the transaction object created for this batch shipment.
              example: '4c33736a67e2450da88b38c42deef6b7'
              type: string
          required:
            - shipment
            - object_id
            - status
    BatchShipmentCreateRequest:
      allOf:
        - $ref: '#/components/schemas/BatchShipmentBase'
    BatchShipmentListWrapper:
      allOf:
        - $ref: '#/components/schemas/PaginatedList'
        - description: |-
            Array of <a href="#section/Batch-Shipment">BatchShipment</a> objects. 
            The response keeps the same order as in the request array.
          properties:
            results:
              items:
                $ref: '#/components/schemas/BatchShipment'
              type: array
    Billing:
      description: Specify billing details (UPS, FedEx, and DHL Germany only).
      properties:
        account:
          type: string
          description: Account number to be billed. (For DHL Germany, leave this field blank.)
        country:
          type: string
          format: iso-3166
          description: Country iso2 code of account number to be billed (required for UPS third party billing only).
        participation_code:
          type: string
          description: 2 digit code used to override your default participation code associated with your DHL Germany account.
        type:
          enum:
            - SENDER
            - RECIPIENT
            - THIRD_PARTY
            - THIRD_PARTY_CONSIGNEE
          description: Party to be billed. (Leave blank for DHL Germany.)
        zip:
          type: string
          description: ZIP code of account number to be billed (required for UPS if there is a zip on the billing account).
      type: object
    COD:
      properties:
        amount:
          description: Amount to be collected.
          example: '5.5'
          type: string
        currency:
          description: Currency for the amount to be collected. Currently only USD is supported for FedEx and UPS.
          example: 'USD'
          type: string
        payment_method:
          description: |-
            Secured funds include money orders, certified cheques and others (see 
            <a href="https://www.ups.com/content/us/en/shipping/time/service/value_added/cod.html">UPS</a> and 
            <a href="http://www.fedex.com/ca_english/services/addservopt/groundcod.html">FedEx</a> for details). 
            If no payment_method inputted the value defaults to "ANY".)
          enum:
            - SECURED_FUNDS
            - CASH
            - ANY
          example: 'CASH'
          type: string
      title: COD Specify collection on delivery details (UPS, and FedEx only).
      type: object
    CarrierParcelTemplateStruct:
      properties:
        carrier:
          description: The name of the carrier that provides this parcel template
          example: 'FedEx'
          type: string
        distance_unit:
          $ref: '#/components/schemas/DistanceUnit'
        height:
          description: The height of the package, in units specified by the distance_unit attribute
          example: '1.5'
          type: string
        is_variable_dimensions:
          description: True if the carrier parcel template allows custom dimensions, such as USPS Softpack.
          example: 'false'
          type: string
        length:
          description: The length of the package, in units specified by the distance_unit attribute
          example: '12.375'
          type: string
        name:
          description: The name of the carrier parcel template
          example: 'FedEx® Small Box (S1)'
          type: string
        token:
          description: The unique string representation of the carrier parcel template
          example: 'FedEx_Box_Small_1'
          type: string
        width:
          description: The width of the package, in units specified by the distance_unit attribute
          example: '10.875'
          type: string
      title: CarrierParcelTemplateStruct represents the fields of a template before saving it to the db.
      type: object
    ConnectExistingOwnFedexAccountRequest:
      properties:
        account_id:
          example: '321123'
          type: string
        active:
          type: boolean
        carrier:
          example: 'fedex'
          type: string
        metadata:
          example: 'FEDEX Account'
          type: string
        parameters:
          $ref: '#/components/schemas/FedexConnectExistingOwnAccountParameters'
        test:
          example: false
          type: boolean
      required:
        - carrier
        - account_id
        - parameters
      type: object
    ConnectExistingOwnUPSAccountRequest:
      properties:
        account_id:
          description: This field is required as input to the API, but is not used for UPS. Use the empty string.
          type: string
        active:
          type: boolean
        carrier:
          example: 'ups'
          type: string
        metadata:
          example: 'UPS Account'
          type: string
        parameters:
          $ref: '#/components/schemas/UPSConnectExistingOwnAccountParameters'
        test:
          example: false
          type: boolean
      required:
        - account_id
        - active
        - parameters
      type: object
    CustomsDeclarationBase:
      properties:
        aes_itn:
          description: |-
            **required if eel_pfc is ''AES_ITN''**<br>
            AES / ITN reference of the shipment.
          type: string
        b13a_filing_option:
          type: string
          description: |-
            B13A Option details are obtained by filing a B13A Canada Export Declaration via the Canadian Export Reporting System (CERS). 
            <a href=\"https://www.cbsa-asfc.gc.ca/export/reporting-declaration-eng.html\" target=\"_blank\" rel=\"noopener noreferrer\"> More information on reporting commercial exports from Canada. </a>
        b13a_number:
          description: |-
            **must be provided if and only if b13a_filing_option is provided**<br>
            Represents:<br> the Proof of Report (POR) Number when b13a_filing_option is FILED_ELECTRONICALLY;<br> 
            the Summary ID Number when b13a_filing_option is SUMMARY_REPORTING;<br> 
            or the Exemption Number when b13a_filing_option is NOT_REQUIRED.
          type: string
        certificate:
          type: string
          description: Certificate reference of the shipment.
        certify:
          example: true
          type: boolean
          description: |-
            Expresses that the certify_signer has provided all information of this customs declaration truthfully.
        certify_signer:
          example: 'Shawn Ippotle'
          type: string
          description: |-
            Name of the person who created the customs declaration and is responsible for the validity of all 
            information provided.
        commercial_invoice:
          type: string
        contents_explanation:
          description: |-
            **required if contents_type is 'OTHER'**<br>
            Explanation of the type of goods of the shipment.
          example: 'T-Shirt purchase'
          type: string
        contents_type:
          example: 'MERCHANDISE'
          type: string
          description: Type of goods of the shipment.
        disclaimer:
          type: string
          description: Disclaimer for the shipment and customs information that have been provided.
        eel_pfc:
          example: 'NOEEI_30_37_a'
          type: string
          description: |-
            EEL / PFC type of the shipment. For most shipments from the US to CA, 'NOEEI_30_36' is applicable; for most 
            other shipments from the US, 'NOEEI_30_37_a' is applicable.
        exporter_reference:
          type: string
          description: Exporter reference of an export shipment.
        importer_reference:
          type: string
          description: Importer reference of an import shipment.
        incoterm:
          type: string
          description: The incoterm reference of the shipment. FCA available for DHL Express and FedEx only.
        invoice:
          example: '#123123'
          type: string
          description: Invoice reference of the shipment.
        license:
          type: string
          description: License reference of the shipment.
        metadata:
          example: 'Order ID #123123'
          type: string
          description: |-
            A string of up to 100 characters that can be filled with any additional information you 
            want to attach to the object.
        non_delivery_option:
          type: string
          description: Indicates how the carrier should proceed in case the shipment can't be delivered.
        notes:
          type: string
          description: Additional notes to be included in the customs declaration.
      required:
        - certify_signer
        - certify
        - non_delivery_option
        - contents_type
      type: object
    CustomsDeclaration:
      allOf:
        - $ref: '#/components/schemas/CustomsDeclarationBase'
        - properties:
            exporter_identification:
              $ref: '#/components/schemas/CustomsExporterIdentification'
            invoiced_charges:
              $ref: '#/components/schemas/CustomsInvoicedCharges'
            items:
              example:
                - 5087f181d1dc4b14b73fdbf636498886
              items:
                type: string
              type: array
              description: Distinct Parcel content items as Customs Items object_ids.
            object_created:
              example: '2014-07-17T01:01:08.306Z'
              format: date-time
              type: string
              description: Date and time of object creation.
            object_id:
              example: 'e2197a54da9d470480f4f8796cc419cb'
              type: string
              description: Unique identifier of the given object.
            object_owner:
              example: 'shippotle@goshippo.com'
              type: string
              description: Username of the user who created the object.
            object_state:
              $ref: '#/components/schemas/ObjectState'
            object_updated:
              example: '2014-07-17T01:01:08.306Z'
              format: date-time
              type: string
              description: Date and time of last object update.
            test:
              example: true
              type: boolean
              description: Indicates whether the object has been created in test mode.
          required:
            - items
    CustomsDeclarationCreateRequest:
      allOf:
        - $ref: '#/components/schemas/CustomsDeclarationBase'
        - properties:
            items:
              items:
                $ref: '#/components/schemas/CustomsItemCreateRequest'
              type: array
            test:
              example: true
              type: boolean
          required:
            - items
    CustomsDeclarationListWrapper:
      allOf:
        - $ref: '#/components/schemas/PaginatedList'
        - description: Paginated Response
          properties:
            results:
              items:
                $ref: '#/components/schemas/CustomsDeclaration'
              type: array
    CustomsExporterIdentification:
      description: Additional exporter identification that may be required to ship in certain countries
      properties:
        eori_number:
          example: 'PL123456790ABCDE'
          type: string
          description: |-
            Economic Operators' Registration and Identification (EORI) number. Must start with a 2 character 
            country code followed by a 6-17 character alphanumeric identifier (e.g. PL1234567890ABCDE).
            <a href="https://ec.europa.eu/taxation_customs/business/customs-procedures/general-overview/economic-operators-registration-identification-number-eori_en">More information on EORI.</a>
        tax_id:
          $ref: '#/components/schemas/CustomsTaxIdentification'
      type: object
    CustomsInvoicedCharges:
      description: Additional invoiced charges to be shown on the Customs Declaration Commercial Invoice.
      properties:
        currency:
          type: string
          format: iso-4217
          description: Currency for the invoiced charges amounts incurred on the end consumer.
        total_shipping:
          type: string
          description: Total shipping paid by the buyer.
        total_taxes:
          type: string
          description: Total taxes paid by the buyer.
        total_duties:
          type: string
          description: Total duties paid by the buyer.
        other_fees:
          type: string
          description: Other fees paid by the buyer.
      required:
        - currency
      type: object
    CustomsItemBase:
      properties:
        description:
          example: 'T-Shirt'
          type: string
          description: Text description of your item.
        eccn_ear99:
          type: string
          description: Export Control Classification Number, required on some exports from the United States.
        mass_unit:
          $ref: '#/components/schemas/WeightUnit'
        metadata:
          example: 'Order ID "123454"'
          type: string
          description: |-
            A string of up to 100 characters that can be filled with any additional information you 
            want to attach to the object.
        net_weight:
          example: '5'
          type: string
          description: Total weight of this item, i.e. quantity * weight per item.
        origin_country:
          type: string
          description: |-
            Country of origin of the item. Example: 'US' or 'DE'. 
            All accepted values can be found on the <a href="http://www.iso.org/" target="_blank">Official ISO Website</a>.
        quantity:
          example: 20
          format: int64
          type: integer
          description: Quantity of this item in the shipment you send.  Must be greater than 0.
        sku_code:
          description: SKU code of the item, which is required by some carriers.
          example: 'HM-123'
          type: string
        tariff_number:
          type: string
          description: The tariff number of the item.
        value_amount:
          example: '200'
          type: string
          description: Total value of this item, i.e. quantity * value per item.
        value_currency:
          example: 'USD'
          type: string
          description: |-
            Currency used for value_amount. The <a href=\"http://www.xe.com/iso4217.php\">official ISO 4217</a> 
            currency codes are used, e.g. \"USD\" or \"EUR\"."
      required:
        - description
        - quantity
        - net_weight
        - mass_unit
        - value_amount
        - value_currency
        - origin_country
      type: object
    CustomsItem:
      allOf:
        - $ref: '#/components/schemas/CustomsItemBase'
        - properties:
            object_created:
              example: '2014-07-17T00:49:20.631Z'
              format: date-time
              type: string
              description: Date and time of object creation.
            object_id:
              example: 'd799c2679e644279b59fe661ac8fa488'
              type: string
              description: Unique identifier of the given object.
            object_owner:
              example: 'shippotle@goshippo.com'
              type: string
              description: Username of the user who created the object.
            object_state:
              $ref: '#/components/schemas/ObjectState'
            object_updated:
              example: '2014-07-17T00:49:20.631Z'
              format: date-time
              type: string
              description: Date and time of last object update.
            test:
              type: boolean
              description: Indicates whether the object has been created in test mode.
    CustomsItemCreateRequest:
      allOf:
        - $ref: '#/components/schemas/CustomsItemBase'
    CustomsItemListWrapper:
      allOf:
        - $ref: '#/components/schemas/PaginatedList'
        - description: Paginated Response
          properties:
            results:
              items:
                $ref: '#/components/schemas/CustomsItem'
              type: array
    CustomsTaxIdentification:
      description: |-
        Tax identification that may be required to ship in certain countries. Typically used to assess duties on 
        goods that are crossing a border.
      properties:
        number:
[...]
